<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue</title>
    <script src="./vue.js"></script>
</head>
<body>
    <div id="demo">
        <div v-for="item in  items">
            {{item.text}}
        </div>
        <div v-for="item in  items">
            {{item.name}}
        </div>
        <div v-for="item in  items">
            {{item.text}} {{item.name}}
        </div>
        <div v-for="item in  items">
            {{item}}
        </div>
    </div>
    <script>
        new Vue({
            el:"#demo",
            data:{
                items:[
                    {text:'hello',name:'shiyanlou'},
                    {text:'hello',name:'vuejs'},
                    {text:'hello',name:'html'},
                    {text:'hello',name:'js'}
                ]
            }
        })
    </script>
</body>
</html>