body{
    margin: 0;
    padding: 0;
    background-color: #ccc;
}

#container:after{
    content: "";
    display: block;
    clear: both;
}
#container{
    width: 1300px;
    margin: 0 auto;
}

#container .img-box{
    cursor: pointer;
    float: left;
    padding: 5px;
}

#container .img-box img{
    width: 250px;
    height: auto;
}

@media screen and (min-width: 520px) and (max-width:779px) {
    #container{
        width: 520px;
    }
}
@media screen and (min-width: 780px) and (max-width:1039px) {
    #container{
        width: 780px;
    }
}
@media screen and (min-width: 1040px) and (max-width:1299px) {
    #container{
        width: 1040px;
    }
}
@media screen and (min-width: 1300px)  {
    #container{
        width: 1300px;
    }
}